*.class
*.log
# sbt specific
dist/*
target/
lib_managed/
src_managed/
project/boot
project/plugins/project/

.scala_dependencies
*.python-version

#intellij
.idea*

#eclipse
.project*
.classpath*
.settings*

# Mac file
.DS_Store
